body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: auto;
    overflow-y: scroll ;
}
.caxa {
    background: #783c00;
    position: relative;
}
.logo {
    padding: 50px 20px;
    font-size: 50px;
}
nav ul li {
    display: inline;
    margin: 0 50px;
    font-size: 40px;
}
nav ul {
    right: 0px;
    text-align: end;
    margin: -50px 50px;
    position: absolute;
}
.banner {
    width: 100%;

}
.zairo {
    text-align: center;
    font-size: 50px;
}
.zairo1 {
    text-align: center;
    font-size: 65px; 
}
.caxa1 {
    background: #783c00;
}
.capuccino {
    width: 250px;
    border: #000000 solid 3px;
    border-radius: 0px;
}
header ul li {
    display: inline;
}
header ul {
    width: 940px;
    margin: 0 auto;
}

.tangerina {
    width: 250px;
    border: #000000 solid 3px;
    border-radius: 0px;
}
header ul li {
    display: inline-block;
}
header ul {
    width: 940px;
    margin: 0 auto;
}

.tangerina {
   right: 100px;
}

.links {
    left: 30px;

}